body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container {
    width: 40em;
    height: 40em;
    border: 1px solid black;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
.square:hover {
    background-color: black;
}

.square:not(:hover) {
    transition-delay: 2s;
}*/

.square {
    transition: background-color 0.5s ease;
}

.transition-delay {
    transition-delay: 1s;
}